div {
    padding: 15px;
}



.div-1 {

    background-color: red;

}

.div-2 {

    background-color: blue;
    position: relative;
    top: 25px;
}

.div-3 {

    background-color: gray;

}

    .div-3-1 {

        background-color: pink;

    }

    .div-3-2 {

        background-color: green;

    }


.div-4 {
    
    background-color: yellow;
}

.div-5 {

    background-color: purple;
    position: absolute;
    width: 100%;
    top: 343px;
    z-index: 2;

}

.div-6 {

    background-color: orange;

}

.div-7 {

    background-color: orange;
}


